services:
  - type: web
    name: contentrefinery-api
    env: docker
    rootDir: backend-laravel
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
